In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('jp.csv')
data.head()

         date   sales  weather  temperature   THI  num_staff
0  2010/07/10    6667        1         -0.3   7.2       42.0
1  2010/07/11   50245        0          7.3   5.5        4.0
2  2010/07/12   43677        2          5.7  33.9       36.0
3  2010/07/13   90137        2         17.1   4.8       48.0
4  2010/07/14  217531        0         38.8  17.9       28.0

In [3]:
data.describe()

              sales    weather  temperature        THI  num_staff
count      50.00000  50.000000    48.000000  46.000000  49.000000
mean   124292.72000   1.320000    19.739583  47.569565  25.959184
std     69346.68549   1.058301    13.022725  32.648164  12.763815
min      1207.00000   0.000000    -1.800000   0.500000   1.000000
25%     63516.25000   0.000000     9.425000  18.150000  18.000000
50%    120924.50000   1.000000    18.350000  38.450000  26.000000
75%    189485.00000   2.000000    31.425000  74.775000  36.000000
max    238335.00000   3.000000    39.900000  97.800000  48.000000

In [4]:
data.shape

(50, 6)

In [5]:
data

          date   sales  weather  temperature   THI  num_staff
0   2010/07/10    6667        1         -0.3   7.2       42.0
1   2010/07/11   50245        0          7.3   5.5        4.0
2   2010/07/12   43677        2          5.7  33.9       36.0
3   2010/07/13   90137        2         17.1   4.8       48.0
4   2010/07/14  217531        0         38.8  17.9       28.0
5   2010/07/15   44585        1          2.6  62.1       18.0
6   2010/07/16  101801        1         12.0  83.2       24.0
7   2010/07/17  193824        2         37.3   4.3       21.0
8   2010/07/18  122240        3         21.9  27.6       27.0
9   2010/07/19  236883        0         38.8  64.0       47.0
10  2010/07/20  192768        2          NaN   NaN       36.0
11  2010/07/21   94911        0         13.6   NaN       12.0
12  2010/07/22   42461        3          1.9  82.7       37.0
13  2010/07/23  228931        0         36.3  75.8        9.0
14  2010/07/24  179666        0         27.3  68.7       25.0
15  2010/07/25  140849        0         22.2  38.7       27.0
16  2010/07/26   14017        2          NaN  95.7       23.0
17  2010/07/27   62943        0          9.2  12.4       33.0
18  2010/07/28   48681        0          5.9  18.9       23.0
19  2010/07/29  196799        3         38.6   0.5       33.0
20  2010/07/30   88740        2          9.5  94.8       10.0
21  2010/07/31   41719        1          6.2  11.1       18.0
22  2010/08/01   61698        1         10.9   1.1       10.0
23  2010/08/02  150262        2         27.4  21.9        NaN
24  2010/08/03  119609        2         20.7  31.0       13.0
25  2010/08/04   86752        3         11.6  69.3       43.0
26  2010/08/05   41321        0          2.9  38.2        4.0
27  2010/08/06  127855        3         18.8  79.0       36.0
28  2010/08/07  177453        2         26.6  96.5       33.0
29  2010/08/08  132265        2         17.9  95.5       25.0
30  2010/08/09   36533        1         -1.2  89.5       25.0
31  2010/08/10  204059        0         34.6  37.3       29.0
32  2010/08/11  214510        0         34.9  58.5       45.0
33  2010/08/12  190747        1         31.0   NaN       26.0
34  2010/08/13  185675        2         31.5  56.0       30.0
35  2010/08/14  235014        2         39.9  70.6       30.0
36  2010/08/15  201095        0         31.4  69.5       25.0
37  2010/08/16   74652        2         13.6  10.9       13.0
38  2010/08/17    1207        2         -1.8  24.7       10.0
39  2010/08/18  147996        0         20.9  71.7       23.0
40  2010/08/19  132452        1         22.4  28.7       25.0
41  2010/08/20  208393        2         39.9   7.1       39.0
42  2010/08/21   85956        2         10.9  70.9       45.0
43  2010/08/22  185699        1         32.2  35.5        1.0
44  2010/08/23  158396        1         28.5  15.7       37.0
45  2010/08/24  238335        3         39.8  84.8       43.0
46  2010/08/25   65236        1          3.7  97.8       38.0
47  2010/08/26  116283        3         15.5  91.9       32.0
48  2010/08/27   95904        2         16.6  24.8        1.0
49  2010/08/28   99204        0         14.5   NaN       10.0

In [6]:
sales = {}
temp = {}
thi = {}
staff = {}

In [7]:
sales['mean'] = data['sales'].mean()
sales['var'] = data['sales'].var()
sales['min'] = data['sales'].min()
sales['max'] = data['sales'].max()

In [8]:
temp['mean'] = data['temperature'].mean()
temp['var'] = data['temperature'].var()
temp['min'] = data['temperature'].min()
temp['max'] = data['temperature'].max()

In [9]:
thi['mean'] = data['THI'].mean()
thi['var'] = data['THI'].var()
thi['min'] = data['THI'].min()
thi['max'] = data['THI'].max()

In [10]:
staff['mean'] = data['num_staff'].mean()
staff['var'] = data['num_staff'].var()
staff['min'] = data['num_staff'].min()
staff['max'] = data['num_staff'].max()

In [11]:
print(sales,temp,thi,staff)

{'mean': 124292.72, 'var': 4808962788.450613, 'min': 1207, 'max': 238335} {'mean': 19.739583333333332, 'var': 169.5913785460993, 'min': -1.8, 'max': 39.9} {'mean': 47.5695652173913, 'var': 1065.9026086956524, 'min': 0.5, 'max': 97.8} {'mean': 25.959183673469386, 'var': 162.91496598639455, 'min': 1.0, 'max': 48.0}

In [12]:
print(f"a{sales['mean']}")

a124292.72

In [13]:
data

          date   sales  weather  temperature   THI  num_staff
0   2010/07/10    6667        1         -0.3   7.2       42.0
1   2010/07/11   50245        0          7.3   5.5        4.0
2   2010/07/12   43677        2          5.7  33.9       36.0
3   2010/07/13   90137        2         17.1   4.8       48.0
4   2010/07/14  217531        0         38.8  17.9       28.0
5   2010/07/15   44585        1          2.6  62.1       18.0
6   2010/07/16  101801        1         12.0  83.2       24.0
7   2010/07/17  193824        2         37.3   4.3       21.0
8   2010/07/18  122240        3         21.9  27.6       27.0
9   2010/07/19  236883        0         38.8  64.0       47.0
10  2010/07/20  192768        2          NaN   NaN       36.0
11  2010/07/21   94911        0         13.6   NaN       12.0
12  2010/07/22   42461        3          1.9  82.7       37.0
13  2010/07/23  228931        0         36.3  75.8        9.0
14  2010/07/24  179666        0         27.3  68.7       25.0
15  2010/07/25  140849        0         22.2  38.7       27.0
16  2010/07/26   14017        2          NaN  95.7       23.0
17  2010/07/27   62943        0          9.2  12.4       33.0
18  2010/07/28   48681        0          5.9  18.9       23.0
19  2010/07/29  196799        3         38.6   0.5       33.0
20  2010/07/30   88740        2          9.5  94.8       10.0
21  2010/07/31   41719        1          6.2  11.1       18.0
22  2010/08/01   61698        1         10.9   1.1       10.0
23  2010/08/02  150262        2         27.4  21.9        NaN
24  2010/08/03  119609        2         20.7  31.0       13.0
25  2010/08/04   86752        3         11.6  69.3       43.0
26  2010/08/05   41321        0          2.9  38.2        4.0
27  2010/08/06  127855        3         18.8  79.0       36.0
28  2010/08/07  177453        2         26.6  96.5       33.0
29  2010/08/08  132265        2         17.9  95.5       25.0
30  2010/08/09   36533        1         -1.2  89.5       25.0
31  2010/08/10  204059        0         34.6  37.3       29.0
32  2010/08/11  214510        0         34.9  58.5       45.0
33  2010/08/12  190747        1         31.0   NaN       26.0
34  2010/08/13  185675        2         31.5  56.0       30.0
35  2010/08/14  235014        2         39.9  70.6       30.0
36  2010/08/15  201095        0         31.4  69.5       25.0
37  2010/08/16   74652        2         13.6  10.9       13.0
38  2010/08/17    1207        2         -1.8  24.7       10.0
39  2010/08/18  147996        0         20.9  71.7       23.0
40  2010/08/19  132452        1         22.4  28.7       25.0
41  2010/08/20  208393        2         39.9   7.1       39.0
42  2010/08/21   85956        2         10.9  70.9       45.0
43  2010/08/22  185699        1         32.2  35.5        1.0
44  2010/08/23  158396        1         28.5  15.7       37.0
45  2010/08/24  238335        3         39.8  84.8       43.0
46  2010/08/25   65236        1          3.7  97.8       38.0
47  2010/08/26  116283        3         15.5  91.9       32.0
48  2010/08/27   95904        2         16.6  24.8        1.0
49  2010/08/28   99204        0         14.5   NaN       10.0

In [14]:
data['sales'].fillna(sales['mean'], inplace = True)
data['temperature'].fillna(temp['mean'], inplace = True)
data['THI'].fillna(thi['mean'], inplace = True)
data['num_staff'].fillna(staff['mean'], inplace = True)
data['weather'].fillna(1, inplace = True)

data

          date   sales  weather  temperature        THI  num_staff
0   2010/07/10    6667        1    -0.300000   7.200000  42.000000
1   2010/07/11   50245        0     7.300000   5.500000   4.000000
2   2010/07/12   43677        2     5.700000  33.900000  36.000000
3   2010/07/13   90137        2    17.100000   4.800000  48.000000
4   2010/07/14  217531        0    38.800000  17.900000  28.000000
5   2010/07/15   44585        1     2.600000  62.100000  18.000000
6   2010/07/16  101801        1    12.000000  83.200000  24.000000
7   2010/07/17  193824        2    37.300000   4.300000  21.000000
8   2010/07/18  122240        3    21.900000  27.600000  27.000000
9   2010/07/19  236883        0    38.800000  64.000000  47.000000
10  2010/07/20  192768        2    19.739583  47.569565  36.000000
11  2010/07/21   94911        0    13.600000  47.569565  12.000000
12  2010/07/22   42461        3     1.900000  82.700000  37.000000
13  2010/07/23  228931        0    36.300000  75.800000   9.000000
14  2010/07/24  179666        0    27.300000  68.700000  25.000000
15  2010/07/25  140849        0    22.200000  38.700000  27.000000
16  2010/07/26   14017        2    19.739583  95.700000  23.000000
17  2010/07/27   62943        0     9.200000  12.400000  33.000000
18  2010/07/28   48681        0     5.900000  18.900000  23.000000
19  2010/07/29  196799        3    38.600000   0.500000  33.000000
20  2010/07/30   88740        2     9.500000  94.800000  10.000000
21  2010/07/31   41719        1     6.200000  11.100000  18.000000
22  2010/08/01   61698        1    10.900000   1.100000  10.000000
23  2010/08/02  150262        2    27.400000  21.900000  25.959184
24  2010/08/03  119609        2    20.700000  31.000000  13.000000
25  2010/08/04   86752        3    11.600000  69.300000  43.000000
26  2010/08/05   41321        0     2.900000  38.200000   4.000000
27  2010/08/06  127855        3    18.800000  79.000000  36.000000
28  2010/08/07  177453        2    26.600000  96.500000  33.000000
29  2010/08/08  132265        2    17.900000  95.500000  25.000000
30  2010/08/09   36533        1    -1.200000  89.500000  25.000000
31  2010/08/10  204059        0    34.600000  37.300000  29.000000
32  2010/08/11  214510        0    34.900000  58.500000  45.000000
33  2010/08/12  190747        1    31.000000  47.569565  26.000000
34  2010/08/13  185675        2    31.500000  56.000000  30.000000
35  2010/08/14  235014        2    39.900000  70.600000  30.000000
36  2010/08/15  201095        0    31.400000  69.500000  25.000000
37  2010/08/16   74652        2    13.600000  10.900000  13.000000
38  2010/08/17    1207        2    -1.800000  24.700000  10.000000
39  2010/08/18  147996        0    20.900000  71.700000  23.000000
40  2010/08/19  132452        1    22.400000  28.700000  25.000000
41  2010/08/20  208393        2    39.900000   7.100000  39.000000
42  2010/08/21   85956        2    10.900000  70.900000  45.000000
43  2010/08/22  185699        1    32.200000  35.500000   1.000000
44  2010/08/23  158396        1    28.500000  15.700000  37.000000
45  2010/08/24  238335        3    39.800000  84.800000  43.000000
46  2010/08/25   65236        1     3.700000  97.800000  38.000000
47  2010/08/26  116283        3    15.500000  91.900000  32.000000
48  2010/08/27   95904        2    16.600000  24.800000   1.000000
49  2010/08/28   99204        0    14.500000  47.569565  10.000000

In [15]:
def norm(x, min, max):
    y = (x - min)/(max-min)
    return y

In [16]:
print(norm(data['temperature'], temp['min'], temp['max']))

0     0.035971
1     0.218225
2     0.179856
3     0.453237
4     0.973621
5     0.105516
6     0.330935
7     0.937650
8     0.568345
9     0.973621
10    0.516537
11    0.369305
12    0.088729
13    0.913669
14    0.697842
15    0.575540
16    0.516537
17    0.263789
18    0.184652
19    0.968825
20    0.270983
21    0.191847
22    0.304556
23    0.700240
24    0.539568
25    0.321343
26    0.112710
27    0.494005
28    0.681055
29    0.472422
30    0.014388
31    0.872902
32    0.880096
33    0.786571
34    0.798561
35    1.000000
36    0.796163
37    0.369305
38    0.000000
39    0.544365
40    0.580336
41    1.000000
42    0.304556
43    0.815348
44    0.726619
45    0.997602
46    0.131894
47    0.414868
48    0.441247
49    0.390887
Name: temperature, dtype: float64

In [17]:
data['temperature'] = norm(data['temperature'], temp['min'], temp['max'])
data['THI'] = norm(data['THI'], thi['min'], thi['max'])
data['num_staff'] = norm(data['num_staff'], staff['min'], staff['max'])

In [18]:
data

          date   sales  weather  temperature       THI  num_staff
0   2010/07/10    6667        1     0.035971  0.068859   0.872340
1   2010/07/11   50245        0     0.218225  0.051387   0.063830
2   2010/07/12   43677        2     0.179856  0.343268   0.744681
3   2010/07/13   90137        2     0.453237  0.044193   1.000000
4   2010/07/14  217531        0     0.973621  0.178828   0.574468
5   2010/07/15   44585        1     0.105516  0.633094   0.361702
6   2010/07/16  101801        1     0.330935  0.849949   0.489362
7   2010/07/17  193824        2     0.937650  0.039054   0.425532
8   2010/07/18  122240        3     0.568345  0.278520   0.553191
9   2010/07/19  236883        0     0.973621  0.652621   0.978723
10  2010/07/20  192768        2     0.516537  0.483757   0.744681
11  2010/07/21   94911        0     0.369305  0.483757   0.234043
12  2010/07/22   42461        3     0.088729  0.844810   0.765957
13  2010/07/23  228931        0     0.913669  0.773895   0.170213
14  2010/07/24  179666        0     0.697842  0.700925   0.510638
15  2010/07/25  140849        0     0.575540  0.392600   0.553191
16  2010/07/26   14017        2     0.516537  0.978417   0.468085
17  2010/07/27   62943        0     0.263789  0.122302   0.680851
18  2010/07/28   48681        0     0.184652  0.189106   0.468085
19  2010/07/29  196799        3     0.968825  0.000000   0.680851
20  2010/07/30   88740        2     0.270983  0.969168   0.191489
21  2010/07/31   41719        1     0.191847  0.108941   0.361702
22  2010/08/01   61698        1     0.304556  0.006166   0.191489
23  2010/08/02  150262        2     0.700240  0.219938   0.531046
24  2010/08/03  119609        2     0.539568  0.313464   0.255319
25  2010/08/04   86752        3     0.321343  0.707091   0.893617
26  2010/08/05   41321        0     0.112710  0.387461   0.063830
27  2010/08/06  127855        3     0.494005  0.806783   0.744681
28  2010/08/07  177453        2     0.681055  0.986639   0.680851
29  2010/08/08  132265        2     0.472422  0.976362   0.510638
30  2010/08/09   36533        1     0.014388  0.914697   0.510638
31  2010/08/10  204059        0     0.872902  0.378212   0.595745
32  2010/08/11  214510        0     0.880096  0.596095   0.936170
33  2010/08/12  190747        1     0.786571  0.483757   0.531915
34  2010/08/13  185675        2     0.798561  0.570401   0.617021
35  2010/08/14  235014        2     1.000000  0.720452   0.617021
36  2010/08/15  201095        0     0.796163  0.709147   0.510638
37  2010/08/16   74652        2     0.369305  0.106886   0.255319
38  2010/08/17    1207        2     0.000000  0.248715   0.191489
39  2010/08/18  147996        0     0.544365  0.731757   0.468085
40  2010/08/19  132452        1     0.580336  0.289825   0.510638
41  2010/08/20  208393        2     1.000000  0.067831   0.808511
42  2010/08/21   85956        2     0.304556  0.723535   0.936170
43  2010/08/22  185699        1     0.815348  0.359712   0.000000
44  2010/08/23  158396        1     0.726619  0.156218   0.765957
45  2010/08/24  238335        3     0.997602  0.866393   0.893617
46  2010/08/25   65236        1     0.131894  1.000000   0.787234
47  2010/08/26  116283        3     0.414868  0.939363   0.659574
48  2010/08/27   95904        2     0.441247  0.249743   0.000000
49  2010/08/28   99204        0     0.390887  0.483757   0.191489

In [19]:
a,b = data.shape

In [23]:
for i in range(a):
    print(f"{data['date'][i]},{data['sales'][i]},{data['weather'][i]},{data['temperature'][i]},{data['THI'][i]},{data['num_staff'][i]}")

2010/07/10,6667,1,0.03597122302158274,0.06885919835560124,0.8723404255319149
2010/07/11,50245,0,0.2182254196642686,0.051387461459403906,0.06382978723404255
2010/07/12,43677,2,0.1798561151079137,0.3432682425488181,0.7446808510638298
2010/07/13,90137,2,0.45323741007194257,0.044193216855087356,1.0
2010/07/14,217531,0,0.9736211031175059,0.17882836587872558,0.574468085106383
2010/07/15,44585,1,0.10551558752997604,0.6330935251798562,0.3617021276595745
2010/07/16,101801,1,0.3309352517985612,0.8499486125385407,0.48936170212765956
2010/07/17,193824,2,0.9376498800959232,0.039054470709146964,0.425531914893617
2010/07/18,122240,3,0.5683453237410072,0.2785200411099692,0.5531914893617021
2010/07/19,236883,0,0.9736211031175059,0.6526207605344296,0.9787234042553191
2010/07/20,192768,2,0.5165367705835332,0.48375709370391884,0.7446808510638298
2010/07/21,94911,0,0.3693045563549161,0.48375709370391884,0.23404255319148937
2010/07/22,42461,3,0.08872901678657076,0.8448098663926003,0.7659574468085106
2010/07/23,228931,0,0.9136690647482014,0.7738951695786228,0.1702127659574468
2010/07/24,179666,0,0.6978417266187051,0.7009249743062693,0.5106382978723404
2010/07/25,140849,0,0.5755395683453238,0.39260020554984587,0.5531914893617021
2010/07/26,14017,2,0.5165367705835332,0.9784172661870504,0.46808510638297873
2010/07/27,62943,0,0.2637889688249401,0.1223021582733813,0.6808510638297872
2010/07/28,48681,0,0.18465227817745805,0.18910585817060635,0.46808510638297873
2010/07/29,196799,3,0.9688249400479617,0.0,0.6808510638297872
2010/07/30,88740,2,0.27098321342925663,0.9691675231243576,0.19148936170212766
2010/07/31,41719,1,0.1918465227817746,0.10894141829393628,0.3617021276595745
2010/08/01,61698,1,0.3045563549160672,0.00616649537512847,0.19148936170212766
2010/08/02,150262,2,0.7002398081534773,0.2199383350462487,0.5310464611376465
2010/08/03,119609,2,0.5395683453237411,0.31346351490236385,0.2553191489361702
2010/08/04,86752,3,0.3213429256594725,0.7070914696813977,0.8936170212765957
2010/08/05,41321,0,0.11270983213429259,0.3874614594039055,0.06382978723404255
2010/08/06,127855,3,0.49400479616306964,0.8067831449126414,0.7446808510638298
2010/08/07,177453,2,0.6810551558752999,0.986639260020555,0.6808510638297872
2010/08/08,132265,2,0.4724220623501199,0.9763617677286742,0.5106382978723404
2010/08/09,36533,1,0.014388489208633098,0.9146968139773896,0.5106382978723404
2010/08/10,204059,0,0.8729016786570744,0.3782117163412127,0.5957446808510638
2010/08/11,214510,0,0.8800959232613909,0.5960945529290853,0.9361702127659575
2010/08/12,190747,1,0.7865707434052758,0.48375709370391884,0.5319148936170213
2010/08/13,185675,2,0.7985611510791367,0.5704008221993834,0.6170212765957447
2010/08/14,235014,2,1.0,0.7204522096608427,0.6170212765957447
2010/08/15,201095,0,0.7961630695443644,0.709146968139774,0.5106382978723404
2010/08/16,74652,2,0.3693045563549161,0.10688591983556013,0.2553191489361702
2010/08/17,1207,2,0.0,0.24871531346351491,0.19148936170212766
2010/08/18,147996,0,0.5443645083932854,0.7317574511819117,0.46808510638297873
2010/08/19,132452,1,0.5803357314148682,0.289825282631038,0.5106382978723404
2010/08/20,208393,2,1.0,0.06783144912641316,0.8085106382978723
2010/08/21,85956,2,0.3045563549160672,0.7235354573484071,0.9361702127659575
2010/08/22,185699,1,0.815347721822542,0.3597122302158273,0.0
2010/08/23,158396,1,0.7266187050359714,0.15621788283658786,0.7659574468085106
2010/08/24,238335,3,0.9976019184652278,0.8663926002055499,0.8936170212765957
2010/08/25,65236,1,0.13189448441247004,1.0,0.7872340425531915
2010/08/26,116283,3,0.4148681055155876,0.9393627954779035,0.6595744680851063
2010/08/27,95904,2,0.4412470023980816,0.249743062692703,0.0
2010/08/28,99204,0,0.3908872901678658,0.48375709370391884,0.19148936170212766

In [22]:
print(data['date'][0])

2010/07/10

In [28]:
one_hot = pd.get_dummies(data['weather'])

KeyError: 'weather'

In [26]:
data = data.drop('weather', axis = 1)

In [29]:
data = data.join(one_hot)

In [36]:
data.rename(columns = {0:'clear_or_not' , 1:'partly_cloudy_or_not', 2:'overcast_or_not', 3:'rainy_or_not'}, inplace = True)

In [37]:
data

,date,sales,temperature,THI,num_staff,clear_or_not,partly_cloudy_or_not,overcast_or_not,rainy_or_not
0,2010/07/10,6667,0.035971,0.068859,0.872340,0,1,0,0
1,2010/07/11,50245,0.218225,0.051387,0.063830,1,0,0,0
2,2010/07/12,43677,0.179856,0.343268,0.744681,0,0,1,0
3,2010/07/13,90137,0.453237,0.044193,1.000000,0,0,1,0
4,2010/07/14,217531,0.973621,0.178828,0.574468,1,0,0,0
5,2010/07/15,44585,0.105516,0.633094,0.361702,0,1,0,0
6,2010/07/16,101801,0.330935,0.849949,0.489362,0,1,0,0
7,2010/07/17,193824,0.937650,0.039054,0.425532,0,0,1,0
8,2010/07/18,122240,0.568345,0.278520,0.553191,0,0,0,1
9,2010/07/19,236883,0.973621,0.652621,0.978723,1,0,0,0
10,2010/07/20,192768,0.516537,0.483757,0.744681,0,0,1,0
11,2010/07/21,94911,0.369305,0.483757,0.234043,1,0,0,0
12,2010/07/22,42461,0.088729,0.844810,0.765957,0,0,0,1
13,2010/07/23,228931,0.913669,0.773895,0.170213,1,0,0,0
14,2010/07/24,179666,0.697842,0.700925,0.510638,1,0,0,0
15,2010/07/25,140849,0.575540,0.392600,0.553191,1,0,0,0
16,2010/07/26,14017,0.516537,0.978417,0.468085,0,0,1,0
17,2010/07/27,62943,0.263789,0.122302,0.680851,1,0,0,0
18,2010/07/28,48681,0.184652,0.189106,0.468085,1,0,0,0
19,2010/07/29,196799,0.968825,0.000000,0.680851,0,0,0,1
20,2010/07/30,88740,0.270983,0.969168,0.191489,0,0,1,0
21,2010/07/31,41719,0.191847,0.108941,0.361702,0,1,0,0
22,2010/08/01,61698,0.304556,0.006166,0.191489,0,1,0,0
23,2010/08/02,150262,0.700240,0.219938,0.531046,0,0,1,0
24,2010/08/03,119609,0.539568,0.313464,0.255319,0,0,1,0
25,2010/08/04,86752,0.321343,0.707091,0.893617,0,0,0,1
26,2010/08/05,41321,0.112710,0.387461,0.063830,1,0,0,0
27,2010/08/06,127855,0.494005,0.806783,0.744681,0,0,0,1
28,2010/08/07,177453,0.681055,0.986639,0.680851,0,0,1,0
29,2010/08/08,132265,0.472422,0.976362,0.510638,0,0,1,0
30,2010/08/09,36533,0.014388,0.914697,0.510638,0,1,0,0
31,2010/08/10,204059,0.872902,0.378212,0.595745,1,0,0,0
32,2010/08/11,214510,0.880096,0.596095,0.936170,1,0,0,0
33,2010/08/12,190747,0.786571,0.483757,0.531915,0,1,0,0
34,2010/08/13,185675,0.798561,0.570401,0.617021,0,0,1,0
35,2010/08/14,235014,1.000000,0.720452,0.617021,0,0,1,0
36,2010/08/15,201095,0.796163,0.709147,0.510638,1,0,0,0
37,2010/08/16,74652,0.369305,0.106886,0.255319,0,0,1,0
38,2010/08/17,1207,0.000000,0.248715,0.191489,0,0,1,0
39,2010/08/18,147996,0.544365,0.731757,0.468085,1,0,0,0
40,2010/08/19,132452,0.580336,0.289825,0.510638,0,1,0,0
41,2010/08/20,208393,1.000000,0.067831,0.808511,0,0,1,0
42,2010/08/21,85956,0.304556,0.723535,0.936170,0,0,1,0
43,2010/08/22,185699,0.815348,0.359712,0.000000,0,1,0,0
44,2010/08/23,158396,0.726619,0.156218,0.765957,0,1,0,0
45,2010/08/24,238335,0.997602,0.866393,0.893617,0,0,0,1
46,2010/08/25,65236,0.131894,1.000000,0.787234,0,1,0,0
47,2010/08/26,116283,0.414868,0.939363,0.659574,0,0,0,1
48,2010/08/27,95904,0.441247,0.249743,0.000000,0,0,1,0
49,2010/08/28,99204,0.390887,0.483757,0.191489,1,0,0,0

In [53]:
d = data.drop(['date','sales'], axis = 1)

In [72]:
A = d.values

In [73]:
print(A[0][0])

0.03597122302158274

In [56]:
print(A.shape)

(50, 7)

In [74]:
Y = data['sales'].values

In [58]:
Y.shape

(50,)

In [75]:
X = np.linalg.inv(A.T.dot(A)).dot(A.T).dot(Y)

In [62]:
print(X)

[213161.76989355  26589.62274884  10842.60082756   2826.5939485
  -1828.65689388 -10518.73230584  -9309.43099476]

In [80]:
Xs = X.sum()
Predictions = (A.dot(X))

In [81]:
print(Predictions.shape)

(50,)

In [84]:
pred = pd.DataFrame({'predicted_sales':Predictions})

In [85]:
pred

    predicted_sales
0      17128.411797
1      51402.364758
2      45021.365800
3      98111.837999
4     221349.098415
5      41418.742283
6      96619.853659
7     195004.692011
8     125243.841446
9     238330.238508
10    120524.355763
11     96948.755415
12     40372.349753
13    220009.038570
14    175753.749373
15    141946.752838
16    130678.165888
17     69690.481980
18     52290.913770
19    204589.204251
20     75090.570612
21     45884.190453
22     65331.322250
23    150351.626706
24    115599.811384
25     87679.023864
26     37846.556190
27    125519.842367
28    168272.752137
29    121681.328943
30     31096.509376
31    205411.789340
32    216429.847836
33    184468.414406
34    181560.834109
35    228489.705455
36    196930.720564
37     73813.260458
38     -1829.243237
39    143396.710557
40    135119.726906
41    213213.008346
42     83790.094120
43    181536.919068
44    165517.417727
45    236067.344641
46     61411.492073
47    111253.393679
48     90178.833507
49    101087.981885

In [86]:
pred.to_csv('Prediction.csv')